.container {
  display: grid;
  width: 1280px;
  min-height: 720px;
  grid-template-columns: 310px 1fr;
  margin: 0 auto;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
ul {
  margin: 0;
}
.aside {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.menu-item__text {
  font-size: 12px;
  font-weight: 500;
  color: #1e1e1e;
}
