.input {
  outline: none;
  border: none;
  &:focus {
    outline: none;
  }
}

.form__input {
  font-size: 13px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 280px;
  border-bottom: 1px solid #3369f3;

  &:focus ~ label {
    top: -8px;
    font-size: 9px;
    line-height: 9px;
  }
}
.upload-avatar__input {
  display: none;
}
