.button {
  --background-color: #3369f3;
  --text-color: #fff;
  width: 280px;
  height: 37px;
  background-color: var(--background-color);
  color: var(--text-color);
  line-height: 13px;
  border-radius: 8px;
}

.form__button {
  margin-top: 180px;
}
