.button {
  --background-color: #3369f3;
  --text-color: #fff;
  width: 280px;
  height: 37px;
  background-color: var(--background-color);
  color: var(--text-color);
  line-height: 13px;
  border-radius: 8px;
  &:hover {
    cursor: pointer;
  }
}

.form__login-button {
  margin-top: 180px;
}
.form__registration-button {
  margin-top: 62px;
}
.profile-edit__button {
  align-self: center;
  text-align: center !important;
  margin-top: 40px;
}
