.chat-list {
  max-height: 600px;
}

.chat-list__container {
  display: flex;
  flex-flow: column;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  margin-top: 14px;
  overflow: hidden auto;
  padding: 0;
  scrollbar-color: var(--active-elem-color) var(--background-color);
  scrollbar-width: thin;
}
