.chat-list {
  max-height: 600px;
}
.chat-list__container {
  margin-top: 14px;
  display: flex;
  flex-direction: column;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  flex-flow: column;
  flex-grow: 1;
  scrollbar-width: thin;
  scrollbar-color: var(--active-elem-color) var(--background-color);
}
