.form__label {
    bottom: 2px;
    color: var(--chat-data-elements-color);
    left: 5px;
    position: absolute;
    top: 3px;
    transition: 0.2s ease all;
}

.upload-avatar__label {
    align-self: center;
    color: var(--secondary-color);
    display: block;
    font-size: 12px;
    line-height: 16px;
    margin-inline: auto;
    text-align: center;
    text-decoration: underline;
    width: 122px;

    &:hover {
        cursor: pointer;
    }
}
