.tooltip {
    position: absolute;
    display: none;
    padding: 5px;
    color: red;
    bottom: -17px;
    left: 0;
    font-size: 8px;
}

.tooltip-active {
    display: block;
    position: absolute;
}

.tooltip__left-bottom {
    position: fixed;
    bottom: 5px;
    left: 0;
}
