.tooltip {
  bottom: -20px;
  color: red;
  display: none;
  font-size: 8px;
  left: 0;
  padding: 5px;
  position: absolute;
}

.tooltip-active {
  display: block;
  position: absolute;
}

.tooltip__left-bottom {
  bottom: 5px;
  left: 0;
  position: fixed;
}

.tooltip__top {
  bottom: 35px;
  color: red;
  font-size: 8px;
  left: 0;
  padding: 5px;
}

.tooltip__profile {
  left: 120px;
}

.tooltip__modal {
  left: 20px;
}
