.chat_list__image {
  background-color: #999;
  border-radius: 50%;
  height: 47px;
  margin: auto 10px;
  width: 47px;
}

.profile_image {
  border-radius: 50%;
  position: relative;

  &:hover {
    cursor: pointer;
    transition: 0.5s;
  }
}

.chat-area__message-image {
  max-height: 170px;
  min-height: 150px;
}
