.link {
  text-decoration: none;
}

.form__link {
  color: var(--secondary-color);
  font-size: 11px;
  line-height: 11px;
}

.header__profile-link {
  align-self: end;
  color: var(--chat-data-elements-color);
  font-size: 12px;
  line-height: 12px;
  padding-right: 22px;
  position: relative;

  &::after {
    content: url("/profile_arrow.png");
    position: absolute;
    right: 10px;
    top: 2px;
  }
}
